<footer class="site-footer">

  <div class="container">

    <h2 class="footer-heading">Contact</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.footer_links.github %}
          <li>
            <a href="https://github.com/{{ site.footer_links.github }}">
              <i class="fa fa-github"></i>

              <span class="username">{{ site.footer_links.github }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.footer_links.twitter %}
          <li>
            <a href="https://twitter.com/{{ site.footer_links.twitter }}">
              <i class="fa fa-twitter"></i>

              <span class="username">{{ site.footer_links.twitter }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.footer_links.facebook %}
          <li>
            <a href="https://facebook.com/{{ site.footer_links.twitter }}">
              <i class="fa fa-facebook"></i>

              <span class="username">{{ site.footer_links.facebook }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.footer_links.pinterest %}
          <li>
            <a href="https://pinterest.com/{{ site.footer_links.pinterest }}">
              <i class="fa fa-pinterest"></i>

              <span class="username">{{ site.footer_links.pinterest }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.footer_links.vimeo %}
          <li>
            <a href="https://vimeo.com/{{ site.footer_links.vimeo }}">
              <i class="fa fa-vimeo-square"></i>

              <span class="username">{{ site.footer_links.vimeo }}</span>
            </a>
          </li>
          {% endif %}

        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.address }}</p>
      </div>
    </div>

  </div>

</footer>
