html, body{
	height:100%;
	overflow:hidden;
}
#playerBox{
	padding-top:36px;
	background-color: #222;
	min-width:1000px;
	height:100%;
	overflow:hidden;
}
#leftDiv{
	float:left;
}
#rightDiv{
	height:100%;
}
#menuDiv{
	position:absolute;
	top:0px;
	left:640px;
	width:243px;
}
#playlist, #searchlist{
	color:#ccc;
	background-color: #333;
	height:100%;
	overflow:hidden;
}
#playlists, #searchResults{
	height:85%;
	overflow-y:auto;
}
ul{
	list-style-type:none;
	padding:0;
	margin:0;
}
li.results, li.playlist{
	padding-top:10px;
	border-bottom:1px solid #777;
	min-height:70px;
}
li.playlist.on, li.results.on{
	background-color:#777;
	border-bottom:1px solid #aaa;
}
li.playlist.playing{
	color:#777;
	background-color:orange;
	border-bottom:1px solid #aaa;
}
li.playlist img, li.results img{
	margin:0px 5px 0px 5px;
	max-width:80px;
	max-height:60px;
}
.pure-menu.pure-menu-open{
	background:#bbb;
}
.pure-form{
	padding:5px;
}
#prevPL, #nextPL{
	width:100px;
	height:60px;
	border-radius:50px;
}
#play{
	margin:10px;
	width:150px;
	height:150px;
	border-radius:100px;
}
#controlBox>div{
	width: 60%;
	margin: 0 auto;
}